a[href*="d1=1"]:not([href*="printfriendly"]), a[href*="d2=1"]:not([href*="printfriendly"]) {
  &:hover {
    text-decoration: none !important;
  }
  &:before {
    content: '\f359';
    font-family: 'fa-solid';
    font-size: 1.5em;
    margin-left: 0.5em;
    margin-right: 0.25em;
  }
  > img {
    display: none;
  }
}

a[href*="d1=2"]:not([href*="printfriendly"]), a[href*="d2=2"]:not([href*="printfriendly"]) {
  &:before {
    content: '\f35a';
    font-family: 'fa-solid';
    font-size: 1.5em;
    margin-left: 0.15em;
    margin-right: 0.5em;
  }
  &:hover {
    text-decoration: none !important;
  }
  > img {
    display: none;
  }
}
