@import "../variables";
@import "./sidebar_icons";

@mixin sidebar {
  display: inline-block;
  position:fixed;
  left: 0;
  width: var(--sidebar-width) !important;
  height: calc(100vh - var(--site-header-height));
  overflow-y: scroll;
  padding-left: 0;
  z-index: 2;
  background-color: var(--sidebar-bg-color) !important;
  font {
    color: inherit;
  }

  > #title {
    display: block !important;
    > .title {
      margin-bottom: 0 !important;
      padding: 8px 16px;
      background: var(--sidebar-bg-color-dark);
      font-family: inherit;
    }
  }

  > #menu {
    width: var(--sidebar-width) !important;
    height: calc(100% - 32px) !important;
    min-height: calc(100vh - var(--site-header-height) - var(--site-footer-height)) !important;
    font-size: 0.8rem !important;
    font-weight: normal !important;
    background-color: var(--sidebar-bg-color) !important;
    border: none !important;
    border-radius: 0 !important;
    margin: 0 !important;

    ul {
      margin: 0 !important;
      padding: 0.5rem 0 0;
    }

    a {
      padding: 8px 8px 8px 16px;
      border: none;
      text-decoration: none !important;
      color: rgba(255, 255, 255, 0.53) !important;
      &:hover {
        color: white !important;
        background-color: transparent;
      }

      // add icon to navigation menu

      &:before, &:after { // fixed width icon
        display: inline-block;
        width: 1.25em;
        text-align: center;
        //noinspection CssNoGenericFontName
        font-family: 'fa-solid';
      }

      &:before {
        margin-right: 8px;
      }
      &:after {
        margin-left: 8px;
      }

    }

    @include sidebar_icons;

  }

  @media only screen and (max-width: 767.98px) {
    &#sidebar {
      position: absolute;
      left: calc(-1 * var(--sidebar-width));

      transition: left ease-in-out 300ms;
      &.opened {
        left: 0;
      }
    }
  }

}
