@import "../variables";
@import "../mixins";

// Page Container
div[align="center"] > #wrapper {
  // Main Container
  > table:nth-of-type(1) {
    > tbody {
      > tr {
        // Main Content
        > td:nth-of-type(2) {
          > table {
            display: flex;
            margin: 3rem auto !important;
            @include card;
            max-width: 640px;
            > tbody {
              display: flex;
              width: 100%;
              flex-direction: column;
              > tr {
                > td:first-child {
                  display: none;
                }

                &:not(:last-child) {
                  margin-block-end: 1rem;
                }

                &:last-child {
                  padding: 1rem;
                  border-radius: $border-radius;
                  background-color: $gray-200 !important;
                  color: $gray-600 !important;
                  td {
                    line-height: 1.5em;
                    > b {
                      font-size: 1rem;
                      font-weight: bold !important;
                      margin-block-end: 0.5em !important;
                    }
                    font[color="#0000FF"] {
                      color: var(--kku-color) !important;
                    }
                    u {
                      color: $gray-800 !important;
                      background-color: $gray-100;
                      padding: 0.125rem 0.5rem;
                      border-radius: 0.125rem;
                      margin-left: 0.25em;
                      margin-right: 0.25rem;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/* -----------------
        Misc.
----------------- */
