@import "../variables";
@import "../mixins";
// Page Container

div[align="center"] > #wrapper {
  // Main Container
  > table:nth-of-type(1) {
    > tbody {
      > tr {
        // Main Content
        > td:nth-of-type(2) {
          // Empty table?
          > div:first-of-type {
            // marquee was disabled below Misc. section
            display: none;
          }

          // // Page Title
          // > div:first-of-type {
          // }
          // Inner container
          > div:last-of-type {
            margin: 0 !important;
            border-radius: 0 !important;
            > div:first-of-type {
              height: $site-header-height;
              display: flex;
              align-items: center;
              border-radius: 0 !important;
              background-color: $kku_color !important;
              font-size: 1.25em;
              padding: 0 1em !important;
              @include page_title_with_icon("\f0a1");
            }
            > div:last-of-type {
              margin: 3rem auto !important;
              @include card();

              > table > tbody {
                > tr {
                  display: block;
                }

                > tr:nth-child(4n + 1) {
                  display: none;
                }
                // Notice title
                > tr:nth-child(4n + 2) {
                  &:not(:nth-of-type(2)) {
                    margin-top: 1rem;
                  }
                  color: $kku_color;
                  > td {
                    display: flex;
                    align-items: center;
                    padding: 0 !important;
                    color: inherit !important;
                    font-size: 1.125rem !important;
                    > img {
                      width: 1em !important;
                      height: 1em !important;
                      margin-right: 1.25em !important;
                      opacity: 0.5;
                    }
                    > a {
                      font-size: 1.125rem !important;
                    }
                    // Urgent state label
                    span[style="color: #FF0000"] {
                      display: inline-block;
                      //position: absolute;
                      margin-left: 2em;
                      padding: 4px 6px;
                      border: solid 1px $gray-200;
                      border-radius: 0.125rem;
                      font-size: 0.6em;
                      white-space: nowrap;
                      color: $red !important;
                      background-color: $gray-100;
                      &:before {
                        content: "\f02b";
                        margin-right: 0.5em;
                        //noinspection CssNoGenericFontName
                        font-family: "fa-solid";
                      }
                    }
                  }
                }

                // Notice details
                > tr:nth-child(4n + 3) {
                  padding-left: 1.5rem;
                  > td {
                    padding: 0.25rem 0;
                    font-size: 0.875rem !important;
                    line-height: 1.75em;
                    color: rgba($dark_navy, 0.75) !important;
                  }
                }

                > tr:nth-of-type(4n + 4) {
                  padding-left: 1.5rem;

                  > td:last-of-type {
                    padding: 0.25rem 0.5rem;
                    border-radius: 0.125rem;
                    font-size: 0.75em;
                    background-color: $gray-100 !important;
                  }

                  &:not(:nth-last-of-type(2)) {
                    padding-bottom: 1rem;
                    border-bottom: solid 1px rgba(128, 128, 128, 0.2) !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/* -----------------
        Misc.
----------------- */

// Remove text scroll (marquee)
.styleMARQUEE {
  display: none;
}

.twitter-share-button {
  width: 61px !important;
}
