@import "./bootstrap-variables";

$font-family-sans-serif:
  // Safari for OS X and iOS (San Francisco)
    -apple-system,
  // Chrome < 56 for OS X (San Francisco)
    BlinkMacSystemFont,
  // Windows
    "Segoe UI",
  // Android
    "Roboto",
  // Basic web fallback
    "Helvetica Neue",
    Arial, sans-serif,
  // Emoji fonts
    "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol" !default;

$kku_color: #a73b24;
$dark_navy: #2a3a42;
$color-success: #48BB78;
$color-error: #e53e3e;

//$primary: $kku_color;

$body-color: rgba($dark_navy, 0.87);
$body-bg: #efefef;
$sidebar-bg: $dark_navy;

$link-color: $kku_color;
$link-decoration: none;
$link-hover-color: darken($link-color, 10%);

$sidebar-width: 220px;
$content-container-max-width: 960px;

$site-header-height: 64px;
$site-footer-height: 1.5rem;

$card-padding: 1.25rem;

$card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

$card-radius: 4px;
